table {
    width: 100vw;
}

tr {
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    grid-column-gap: 3ch;
}

td {
    min-height: 1.2em;
}

input {
    width: 100%;
}

.mentes {
    float: right;
}

h2 {
    text-align: center;
    margin-inline: auto;
}